{
  "name": "@kobalt/react-material-icons/{{ category }}",
  "private": true,
  "main": "../dist/{{ category }}/index.js",
  "module": "../dist/{{ category }}/index.js",
  "jsnext:main": "../dist/{{ category }}/index.js"
}
